@{
    Layout = null;
    ViewData["Title"] = "Roles";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Roles</title>
    <link rel="stylesheet" href="~/css/roles.css" />
    <a asp-controller="Home" asp-action="Index" class="btn-volver">
        Volver al inicio
    </a>
</head>
<body>
    <div class="contenedor-roles">

        <img src="~/imagenes/fondoRoles.png" alt="fondo" class="fondo" />

        <a href="/Home/Admin">
            <img src="~/imagenes/rector.png" alt="Rector" class="rol rector" />
        </a>

        <a href="/Home/Docente">
            <img src="~/imagenes/profesor.png" alt="Docente" class="rol docente" />
        </a>

        <a href="/Home/Estudiante">
            <img src="~/imagenes/alumno.png" alt="Estudiante" class="rol estudiante" />
        </a>

        <a href="/Home/Usuario">
            <img src="~/imagenes/acudiente.png" alt="Acudiente" class="rol acudiente" />
        </a>

        <img src="~/imagenes/niños1.png" class="nino">

        <img src="@Url.Content("~/imagenes/tituloRoles.png")" class="titulo" />
        <img src="~/imagenes/tigre1.png" class="tigre">
    
        </a>
    </div>
 
    </a>
</body>

</html>
