@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/acudiente.css" />
</head>
<body>

    <img src="~/imagenes/fondoAcudiente.png" class="fondo-acudiente" />

</body>
</html>