@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/docente.css" />
</head>
<body>

    <img src="~/imagenes/fondoDocente.png" class="fondo-docente" />

</body>
</html>