@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/estudiante.css" />
</head>
<body>

    <img src="~/imagenes/fondoEstudiante.png" class="fondo-Estudiante" />

</body>
</html>