@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/rector.css" />
</head>
<body>

    <img src="~/imagenes/fondoRector.png" class="fondo-rector" />

</body>
</html>