@{
    ViewData["Title"] = "Inicio";
}

<!-- HERO -->
<section class="hero">

    <div class="hero-overlay"></div>

    <div class="hero-content">

        <div class="hero-text">

            <span class="tag">✨ Plataforma Educativa Infantil</span>

            <h1>
                Explora, aprende <br />
                y <span>diviértete</span>
            </h1>

            <p>
                Descubre juegos educativos, videos interactivos,
                actividades divertidas y herramientas inteligentes
                diseñadas para niños de primaria.
            </p>

            <div class="hero-buttons">

                <a href="#cards" class="btn-main">
                    ¡Comenzar aventura! 🚀
                </a>

                <a asp-controller="Usuario" asp-action="Inicio" class="btn-secondary">
                    Iniciar sesión
                </a>

            </div>

    </div>

</section>


<!-- CARDS -->
<section class="cards-section" id="cards">

    <div class="section-title">
        <h2>Áreas de Aprendizaje</h2>
        <p>Aprende mientras juegas y exploras.</p>
    </div>

    <div class="cards">

        <!-- Matemáticas -->
        <div class="card math">

            <img src="~/imagenes/iconoMate.png" alt="Matemáticas" />

            <h3>Matemáticas</h3>

            <p>
                Aprende números, operaciones
                y resuelve problemas jugando.
            </p>

            <a href="#">Explorar →</a>

        </div>

        <!-- Lectura -->
        <div class="card read">

            <img src="~/imagenes/iconoLectura.png" alt="Lectura" />

            <h3>Lectura</h3>

            <p>
                Mejora tu comprensión
                leyendo cuentos y textos.
            </p>

            <a href="#">Explorar →</a>

        </div>

        <!-- Ciencias -->
        <div class="card science">

            <img src="~/imagenes/iconoSociales.png" alt="Ciencias" />

            <h3>Ciencias</h3>

            <p>
                Descubre el mundo
                que te rodea.
            </p>

            <a href="#">Explorar →</a>

        </div>

        <!-- Creatividad -->
        <div class="card creative">

            <img src="~/imagenes/iconoArte.png" alt="Creatividad" />

            <h3>Creatividad</h3>

            <p>
                Dibuja, pinta y crea
                cosas increíbles.
            </p>

            <a href="#">Explorar →</a>

        </div>

        <!-- Retos -->
        <div class="card challenge">

            <img src="~/imagenes/iconoreto.png" alt="Retos" />

            <h3>Retos</h3>

            <p>
                Pon a prueba lo que sabes
                y gana medallas.
            </p>

            <a href="#">Explorar →</a>

        </div>

    </div>

</section>

