@{
    ViewData["Title"] = "Inicio";
}

<!-- HERO -->
<section class="hero">

    <div class="hero-text">

<<<<<<< HEAD
    <!-- NAVBAR -->
    <header class="navbar">
        <div class="logo">🌿 EduClick</div>

        <nav>
            <a asp-controller="Home" asp-action="Index">Inicio</a>
            <a asp-controller="Home" asp-action="Actividades">Actividades</a>
            <a asp-controller="Home" asp-action="Recursos">Recursos</a>
            <a asp-controller="Home" asp-action="Galeria">Galería</a>
            <a asp-controller="Home" asp-action="Contacto">Contacto</a>
        </nav>


        <div class="auth-buttons" style="display: flex; gap: 15px;">
            <a class="btn-login" asp-controller="Home" asp-action="Roles">

                Inicia sesion
            </a>
<<<<<<< HEAD
                            <a class="btn-login" asp-controller="Usuario" asp-action="Inicio">

                Registrate
=======
            <a class="btn-login" asp-controller="Registro" asp-action="Index">
                Registro
>>>>>>> origin/yulis
            </a>
        </div>
    </header>

    <!-- CONTENIDO -->
    <section class="hero-content">
=======
>>>>>>> ed38d7275853432219d15ab0e9b73dc53ac3cecd
        <h1>
            Explora, aprende <br />
            y <span>diviértete</span>
        </h1>

        <p>
            Descubre actividades interactivas,
            recursos educativos y juegos para aprender cada día.
        </p>

        <a href="#" class="btn-main">
            ¡Comenzar aventura! →
        </a>

    </div>

</section>

<!-- CARDS -->
<section class="cards">

    <!-- Matemáticas -->
    <div class="card math">

        <img src="~/imagenes/iconoMate.png" alt="Matemáticas" />

        <h3>Matemáticas</h3>

        <p>
            Aprende números, operaciones
            y resuelve problemas jugando.
        </p>

        <a href="#">Explorar →</a>

    </div>

    <!-- Lectura -->
    <div class="card read">

        <img src="~/imagenes/iconoLectura.png" alt="Lectura" />

        <h3>Lectura</h3>

        <p>
            Mejora tu comprensión
            leyendo cuentos y textos.
        </p>

        <a href="#">Explorar →</a>

    </div>

    <!-- Ciencias -->
    <div class="card science">

        <img src="~/imagenes/iconoSociales.png" alt="Ciencias" />

        <h3>Ciencias</h3>

        <p>
            Descubre el mundo
            que te rodea.
        </p>

        <a href="#">Explorar →</a>

    </div>

    <!-- Creatividad -->
    <div class="card creative">

        <img src="~/imagenes/iconoArte.png" alt="Creatividad" />

        <h3>Creatividad</h3>

        <p>
            Dibuja, pinta y crea
            cosas increíbles.
        </p>

        <a href="#">Explorar →</a>

    </div>
  

    <!-- Retos -->
    <div class="card challenge">

        <img src="~/imagenes/iconoreto.png" alt="Retos" />

        <h3>Retos</h3>

        <p>
            Pon a prueba lo que sabes
            y gana medallas.
        </p>

        <a href="#">Explorar →</a>

    </div>


</section>