@{
    Layout = null;
}

@{
    ViewData["Title"] = "Registro";
}
<link rel="stylesheet" href="~/css/registro.css" />

<div class="registro">
    <h2>¡REGISTRATE!</h2>
    <p>Crea tu cuenta y comienza esta gran aventura.</p>

</div>
<form>
    <input type="text" placeholder="Nombres Completos" required />
    <input type="text" placeholder="Apellidos Completos" required />
    <input type="email" placeholder="Correo Electrónico" required />
    <input type="password" placeholder="Crear Contraseña" required />
    <input type="password" placeholder="Confirmar Contraseña" required />

    <button type="submit">Crear Cuenta</button>


</form>